<?xml version="1.0" encoding="utf-8"?>
<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  IgnorableNamespaces="uap">

  <!-- Identidade do pacote -->
  <Identity
    Name="ScriptBox.UWP"
    Publisher="CN=ScriptBox"
    Version="1.0.0.0" />

  <!-- Informações básicas -->
  <Properties>
    <DisplayName>ScriptBox</DisplayName>
    <PublisherDisplayName>ScriptBox</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <!-- SDK / Plataforma -->
  <Dependencies>
    <TargetDeviceFamily
      Name="Windows.Universal"
      MinVersion="10.0.26100.0"
      MaxVersionTested="10.0.26100.0" />
  </Dependencies>

  <!-- Aplicação -->
  <Applications>
    <Application
      Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="ScriptBox.App">

      <uap:VisualElements
        DisplayName="ScriptBox"
        Description="ScriptBox UWP App"
        BackgroundColor="black"
        Square150x150Logo="Assets\Square150x150Logo.png"
        Square44x44Logo="Assets\Square44x44Logo.png" />
    </Application>
  </Applications>

</Package>
